<h1>マイページ編集詳細ページ</h1>


  
<%= form_with(model: @user, local: true) do |f| %>

<%= link_to user_path(user) do %>
<%= attachment_image_tag user, :image, fallback: "no-image.png" %>
%>

  <tr>
    <%= f.label :name, '名前' %>
    <%= f.text_field :name, class: 'form-control' %>
  </tr>
  
  <tr>
    <%= f.label :introduction, '自己紹介' %>
    <%= f.text_field :introduction, class: 'form-control' %>
  </tr>
  
  <tr>
    <%= f.label :recommend, 'おすすめ温泉スポット' %>
    <%= f.text_field :recommend, class: 'form-control' %>
  </tr>

  <tr>
    <%= f.label :email, 'Eメール' %>
    <%= f.text_field :email, class: 'form-control' %>
  </tr>


<%= f.submit '更新する', class: 'btn btn-primary btn-block' %>

  <% end %>


<%= link_to '一覧に戻る', users_path, class: 'btn btn-light' %>

